/* Navbar */
.navbar-custom {
  background: linear-gradient(90deg, #000000, #8b0000);
}

/* Hero */
.hero {
  height: 100vh;
  background: url('https://picsum.photos/1920/1080?grayscale') no-repeat center center/cover;
  color: white;
  text-shadow: 2px 2px 5px rgba(0,0,0,0.7);
}

/* Botones */
.btn-dark, .btn-light {
  border-radius: 30px;
  padding: 10px 25px;
}

/* Footer */
.footer-custom {
  background: #000;
}

.hero {
  height: 100vh;
  color: white;
}
.carousel-item img {
  height: 100vh;
  object-fit: cover;
}
.carousel-caption {
  background: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  padding: 15px;
}